<%= form_with(model: campu, local: true, class:"p-3") do |form| %>
  <% if campu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campu.errors.count, "error") %> prohibited this campu from being saved:</h2>

      <ul>
        <% campu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group p-2">
    <%= form.label "Nome:", class:"form-label h5" %>
    <%= form.text_field :nome,class:"form-control h5" %>
  </div>
  

  <div class="form-group p-2">
    <%= form.label "Endereço:", class:"col-sm-1 h5 form-label" %>
    <%= form.text_field :endereco, class:"form-control h5" %>
  </div>

  <div class="form-group p-2 row g-3">
    <div class="col-md-6">
      <%= form.label "Número:", class:"form-label h5" %>
      <%= form.text_field :numero, class:"form-control h5" %>
    </div>
    <div class="col-md-6">
      <%= form.label "Bairro:", class:"form-label h5" %>
      <%= form.text_field :bairro, class:"form-control h5" %>
    </div>

    <div class="col-md-6">
      <%= form.label "Cidade:", class:"form-label h5" %>
      <%= form.select(:cidade, @lista_cidades.collect{|cidade|[cidade.nome, cidade.nome]},{}, {:class => "form-select"})%>
    </div>  

    <div class="col-md-6">
      <%= form.label "CEP:",class:"form-label h5"%>
      <%= form.text_field :cep, class:"cep form-control"%>
    </div>

    
  </div>
  
<% end %>
