<main class="d-flex sidebar justify-content-between">
<%= render "partials/sidebar" %>
<section class="conatiner m-3 w-75">
  <p id="notice"><%= notice %></p>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Campus</h1>
    <%= link_to 'Cadastrar novo Campus', new_campu_path, class: "btn btn btn-success text-light" %>
  </div>

  <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" class="h5 p-3 text-center">#</th>
    <th scope="col" class="h5 p-3 text-center">Nome</th>
    <th scope="col" class="h5 p-3 text-center">Endereco</th>
    <th scope="col" class="h5 p-3 text-center">Cidade</th>
    <th scope="col" class="h5 p-3 text-center">Cep</th>
    <th scope="col" class="h5 p-3 text-center" colspan="3">Opções</th>
  </tr>
  </thead>

  <tbody>
  <% @campus.each do |campu| %>
    <tr>
      <td class="text-center"><%= campu.id %></td>
      <td class="text-center"><%= campu.nome %></td>
      <td class="text-center"><%= campu.endereco %>, <%= campu.numero %>, <%= campu.bairro %></td>
      <td class="text-center"><%= campu.cidade %></td>
      <td class="text-center"><%= cep_mask(campu.cep) %></td>
      <td class="text-center"><%= link_to 'Campus', campu, class:"btn btn-primary text-light" %></td>
      <td class="text-center"><%= link_to 'Editar', edit_campu_path(campu),  class:"btn btn-warning text-light" %></td>
      <td class="text-center"><%= link_to 'Apagar', campu, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-light" %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <br>



</section>
