
<section class="p-2" title="Retornar para <%= campus_path%>">
    <main class="p-2">
        <h1 class="p-2">Cadastrar Novo Campus</h1>
        <%= render 'form', campu: @campu %>
        <div class="form-group mt-3 d-flex justify-content-center py-5">
            <%= form.submit "Cadastrar Campus", class:"btn btn-primary mx-2 w-75" %>
        </div>
    </main>
</section>