<p id="notice"><%= notice %></p>
<main class="d-flex sidebar justify-content-between">
  <%= render "partials/sidebar" %>

  <section class="m-3 w-75 container">
      <div class="row mb-5 px-2">
        <%= image_tag "campos_foto", class:"w-50"%>

        <div class="col">
          <h5 class="py-2"><strong>Nome:</strong> <%= @campu.nome%></h5>
          <h5 class="py-2"><strong>Endereço:</strong> <%= @campu.endereco%></h5>
          <h5 class="py-2"><strong>Bairro:</strong> <%= @campu.bairro%></h5>
          <h5 class="py-2"><strong>Número:</strong> <%= @campu.numero%></h5>
          <h5 class="py-2"><strong>Cidade:</strong> <%= @campu.cidade%></h5>
          <h5 class="py-2"><strong>CEP:</strong> <%= @campu.cep[0..4]+"-"+@campu.cep[5..7]%></h5>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <%= link_to 'Editar Campus', edit_campu_path(@campu), class: "btn btn-warning text-light m-2" %>
        <%= link_to 'Retornar', campus_path, class:"btn btn-info text-light m-2" %>
      </div>
 
  </section>
</main>

