<nav class="navbar fixed-top navbar-expand-lg bg-light  justify-content-between">
    <div class="navbar-brand px-2">
        <%= image_tag "UFF1.png", height: '62', width: '62'%>
        Caronas UFF
    </div>
        <ul class="mx-5 navbar-nav d-flex flex-row">
            <li class="nav-item px-2">
                <a class="h1 nav-link text-uppercase" href="#comofunciona">Como funciona</a>
            </li>
            <li class="nav-item">
                <a class="h1 nav-link text-uppercase" href="#campus">Campus atendidos</a>
            </li>
            <li class="nav-item">
                <a class="h1 nav-link text-uppercase" href="#numeros">Números</a>
            </li>

            <li class="nav-item">
                <%= button_to "Entrar", welcome_redirecionarusuario_path, method: 'post', class: "btn btn-primary mx-5"%>
            </li>
        </ul>
    


    
</nav>
<!-- Secao de Banner-->
<main class="px-3">
    <section class="d-flex flex-lg-row justify-content-around py-5">
        <div class="p-5 text-primary text-center">
            <p class="display-4 my-2 text-center">Bem Vindo ao Caronas UFF<p>
            <p class="h3 my-5 ">Com este serviço você será capaz de realizar caronas entre os Campus da UFF e até para outros locais.<p>
        </div>
        <div class="banner p-2"></div>
    </section>

    <!-- Secao de Banner-->
    <section class="funciona" id="comofunciona">
        <h2 class="my-5">Como funciona o serviço de caronas:<h2>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <%= image_tag "iduff", width: '200', height: '200', class:"card-image my-3"%>
                    <p class="h5">1° Cadastre-se no IDUFF.</p>
                </div>
                <div class="col text-center">
                    <%= image_tag "encontrarcarona.jpg", width: '200', height: '200', class:"card-image my-3"%>
                    <p class="h5 lh-2">2° Encontre uma carona mais próxima de você.(Sempre um Campus da UFF deve ser ou partida ou destino)</p>
                </div>
                <div class="col text-center">
                    <%= image_tag "oferecercarona.png", width: '200', height: '200', class:"card-image my-3"%>
                    <p class="h5 text-justify">3° Se quiser ofereça uma carona para outras pessoas.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Secao de Campus-->
    <section class="campus " id="campus">
        <h3 class="h3">Abaixo estão os Campus da UFF que oferecem o serviço:</h3>
        <div class="d-flex flex-wrap justify-content-center my-3">
            <% @campus.each do |campu|%>
                <div class="m-2 card w-25 hover-shadow">
                    <%= image_tag "universidade.jpg", class:"card-img-top", alt:"imagem do #{campu.nome}", width:'4', height:'205'%>
                    <div class="card-body">
                        <h3 class="card-title"><%= campu.nome%></h3>
                        <p class="card-text">Endereço: Rua <%= campu.endereco%>, <%= campu.bairro%>, <%= campu.cidade%></p>
                    </div>
                </div>
            <%end%>
        </div>
    </section>

    <section class="sobrenos" id="numeros">
        <h3 class="my-3">Até o momento: </h3>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <%= image_tag "usuarios", width: 200, height: 200%>
                    <p class="h2"><%= @usuarios.size%> usuarios cadastrados </p>
                </div>

                <div class="col w-50 text-center">
                    <%= image_tag "caronas", width: 200, height: 200 %>
                    <p class="h2"><%= @caronas.size%> caronas realizadas</p>
                </div>

                <div class="col w-50 text-center">
                    <%= image_tag "locais", width: 200, height: 200 %>
                    <p class="h2"><%= @paradas.size%> locais visitados</p>
                </div>
            </div>
        </div>
    </section>
</main>