<div class="container-fluid my-2">
  <div class="col">
    <%= link_to "Usuarios", '/usuarios', class: "btn btn-primary" %>
    <%= link_to "Campus", '/campus', class: "btn btn-primary" %>

  </div>
</div>