<p id="notice"><%= notice %></p>
<%= form_with(model: carona, local: true, class:"p-3") do |form| %>
  <% if carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carona.errors.count, "error") %> prohibited this carona from being saved:</h2>

      <ul>
        <% carona.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex justify-content-around">
    <div class="form-row w-50">
      <div class="form-group">
        <%= form.label :partida, class:"form-label h5" %>
        <%= form.text_field :partida, class:"form-control h5 partida" %>
      </div>
        <div class="h5 text-center text-primary click"><u>+ Adicionar Campus</u></div>
        <ul class="flex-wrap list-unstyled d-flex d-none campus-lista">
          <% @campus.each do |campi|%>
            <li class="p-2 bg-primary m-2 rounded text-light h6 nome-campus-partida"><%= campi.nome%></li>
          <%end%>
        </ul>

      <div class="links">
        <div id="experiences" class="form-group my-2">
          <%= form.fields_for :paradas do |parada| %>
            <%= render 'parada_fields', f: parada %>
          <% end %>
        </div>
        <%= link_to_add_association 'adicionar parada', form, :paradas, class:"btn btn-primary my-3"%>
      </div>
      <div class="form-group">
        <%= form.label :destino, class:"form-label h5" %>
        <%= form.text_field :destino, class:"form-control h5 destino" %>
      </div>
      <div class="h5 text-center text-primary click"><u>+ Adicionar Campus</u></div>
        <ul class="flex-wrap list-unstyled d-flex d-none campus-lista">
          <% @campus.each do |campi|%>
            <li class="p-2 bg-primary m-2 rounded text-light h6 nome-campus-destino"><%= campi.nome%></li>
          <%end%>
        </ul>
    </div>
  
    <div class="form-row w-50 mx-3">
      <div class="form-group p-2 row">
        <%= form.label :quando, class:"form-label h5"%>
        <%= form.datetime_select(:quando, start_year: Time.now().year, :prompt => {day: "Dia", month: 'Mês', year: 'Ano', hour:"horas", minute:'minutos'}, :with_css_classes => {day: 'form-select w-25 mx-2', month: 'form-select w-25 mx-2', year: 'form-select w-25 mx-2', hour:"form-select w-25 m-2", minute:'form-select w-25 m-2'})%>
      </div>

      <div class="form-group p-2">
        <%= form.label :valor, class:"form-label h5" %>
        <%= form.number_field :valor, value: @carona.valor ? '%.2f' % @carona.valor : nil, min: 0, class: "form-control valor", step: 0.01 %>
      </div>
  
      <div class="form-group p-2">
        <%= form.label :passageiros, class:"form-label h5" %>
        <%= form.number_field :passageiros, class:"form-control h5", min: 0, max: 5%>
      </div>

      <div class="form-group p-2">
        <%= form.label :observação, class:"form-label h5"%>
        <%= form.text_area :observacao, class:"form-control h5" %>
      </div>
    </div>
    
  </div>
   <div class="form-group my-5 d-flex justify-content-center">
    <%=  %>
    <%= form.submit("#{carona.destino.blank? ? "Criar Caronas" : "Editar Caronas"}", class:"btn btn-primary w-75")%>
  </div>
<% end %>
