<div class="nested-fields">
    <div class="form-group d-flex align-items-center py-2">
        <%= f.label :paradas, class:"form-label h5 mx-2"%>
        <%= f.text_field :paradas, class:"form-control h5 mx-2" %> 
        <%= link_to_remove_association '-', f, class:"btn btn-danger"%>   
    </div>
</div>
