        <h1 class="py-2">Editar Carona</h1>

        <%= render 'form', carona: @carona %>

<%= link_to 'Mostrar Carona', @carona, class: "btn btn-primary"%> |
<%= link_to 'Retornar', caronas_path, class: "btn btn-primary" %>

</section>