
<main class="d-flex sidebar justify-content-between">
  <%= render "partials/sidebar" %>
  <section class="conatiner m-3 overflow-auto p-3">
                          
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="py-3">Caronas</h1>
      <%= link_to 'Oferecer Carona', new_carona_path, class:"btn btn-success text-light"%>
    </div>
   
    <%= select_tag  :nome, 
                    options_for_select(@caronas.collect{|v| [v.partida, v.id]}), 
                    class:"form-select select2-caronas ",
                    include_blank: true,
                    size:10
    %>




    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="h5 p-3 text-center">Quando</th>
          <th scope="col" class="h5 p-3 text-center">Valor</th>
          <th scope="col" class="h5 p-3 text-center">Passageiros</th>
          <th scope="col" class="h5 p-3 text-center">Partida</th>
          <th scope="col" class="h5 p-3 text-center">Destino</th>
          <th scope="col" class="h5 p-3 text-center">Usuário</th>
          <th scope="col" colspan="3" class="h5 p-3 text-center">Editar</th>
        </tr>
      </thead>

      <tbody>
        <% @caronas.each do |carona| %>
          <tr scope="row">
            <td class="text-center p-3"><%= carona.quando.day %>/<%= carona.quando.month %>/<%= carona.quando.year %> - <%= carona.quando.hour %>:<%= carona.quando.min %></td>
            <td class="text-center p-3">R$ <%= carona.valor %></td>
            <td class="text-center p-3"><%= carona.passageiros %></td>
            <td class="text-center p-3"><%= carona.partida %></td>
            <td class="text-center p-3"><%= carona.destino %></td>
            <td class="text-center p-3"><%= carona.usuario.creator.nome %></td>
            <td class="text-center p-3"><%= link_to 'Carona', carona, class:"btn btn-primary text-light"%></td>
            <% if usuario_is_admin? || params[:usuario].present? %>
              <td class="text-center p-3"><%= link_to 'Editar', edit_carona_path(carona), class:"btn btn-warning text-light" %></td>
              <td class="text-center p-3"><%= link_to 'Apagar', carona, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-light" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>


  </section>
</main>