<section class="p-2">
    <a href=<%= caronas_path %> title="Retornar para <%= caronas_path%>" class="btn btn-info rounded-circle p-0">
        <%= image_tag "icon_seta_voltar", height: '44', width: '44' %>
    </a>
    <main class="p-2">
        <h1>Nova Carona</h1>

        <%= render 'form', carona: @carona %>
        
    </main>
</section>
