<p id="notice"><%= notice %></p>
<main class="d-flex sidebar justify-content-between">
  <%= render "partials/sidebar" %>

  <section class="m-3 w-75 container">
      <div class="row mb-5 px-2">
        <%= image_tag "imagem_da_carona", class:"w-25"%>

        <div class="col">
          <h5 class="py-2"><strong>Destino:</strong> <%= @carona.partida%></h5>
          <h5 class="py-2"><strong>Partida:</strong> <%= @carona.destino%></h5>
          <h5 class="py-2"><strong>Passageiros:</strong> <%= @carona.passageiros%></h5>
          <h5 class="py-2"><strong>Valor:</strong> <%= @carona.valor%></h5>
          <h5><strong>Paradas:</strong> 
            <ul class="py-2 list-unstyled">
              <% if @carona.paradas.size > 0%>
                <% @carona.paradas.each_with_index do |parada, index|%>
                 <li class="h5 px-3"><%= "#{index + 1}° Parada ->"%> <%= parada.paradas%></li>
                <% end %>
              <% else %>
                <li class="h5 px-3"><%= "Sem paradas"%></li>
              <%end%>
            </ul>
          </h5>
          <h5><strong>Quando:</strong> <%= @carona.quando.strftime("%d/%m/%Y - %H: %M")%></h5>
          <h5 class="py-2"><strong>Observação:</strong> <%= @carona.observacao%></h5>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <% if usuario_is_admin? || carona_pertence_ao_usuario? %>
          <%= link_to 'Editar Carona', edit_carona_path(@carona), class: "btn btn-warning text-light m-2" %>
        <% end %>
        <%= link_to 'Retornar', caronas_path, class:"btn btn-info text-light m-2" %>
      </div>
 
  </section>
</main>
