<%= form_with(model: @usuario, local: true, class:"px-3") do |form| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% @usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group ">
      <%= form.label :admin , class: "form-check-label h5"%>
      <%= form.check_box :admin , class: "form-check-input h6"%>
    </div>

    <div class="form-group col-md-6">
      <%= fields_for :creator, @usuario.creator do |creator_detail_form| %>

        <div class="form-group my-3 ">
          <%= creator_detail_form.label :nome, class:"form-label h5"%>
          <%= creator_detail_form.text_field :nome, class: "form-control"%>
        </div>  

        <div class="form-group my-3">
          <%= creator_detail_form.label :iduff, class:"form-label h5" %>
          <%= creator_detail_form.text_field :iduff, class: "form-control cpf"%>
        </div>       
        
      <%end%>
    </div>

  <div class="actions d-flex justify-content-center align-items-center mt-5">
    <%= form.submit class: "btn btn-primary text-light mx-2"%>
    <%= link_to t("Back"), usuarios_path , class: "btn btn-info text-light mx-2"%>

  </div>
<% end %>
