

<p id="notice" ><%= notice %></p>
<main class="d-flex sidebar justify-content-between">
  <%= render "partials/sidebar" %>
  <section class="conatiner m-3 w-75">
    



<div class="d-flex justify-content-between align-items-center">
  <h1>Usuários</h1> 
  <%= link_to 'Cadastrar novo Usuário', new_usuario_path, class: "btn btn btn-success text-light" %>
</div>

<%= select_tag  :nome, 
                options_for_select(@usuarios.collect{|u| [u.creator.iduff+"-"+u.creator.nome,u.creator.nome]}), 
                class:"input-group select2-usuarios",
                include_blank: true,
                data:{source: usuarios_path, remote: true},
                size:10
%>
<br>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="h5 p-3 text-center">#</th>
      <th scope="col" class="h5 p-3 text-center">Nome</th>
      <th scope="col" class="h5 p-3 text-center">Iduff</th>
      <th scope="col" class="h5 p-3 text-center">Data de Desativacao</th>
      <th scope="col" class="h5 p-3 text-center">Admin</th>
      <th scope="col" class="h5 p-3 text-center">Editar</th>
    </tr>
  </thead>

  <tbody>
  <% @usuarios.each do |usuario| %>
    <tr class="<%= usuario_desativado(usuario.data_desativacao)%>" scope="row">
      <td class="text-center p-3"><%= usuario.id%></td>
      <td class="text-center p-3"><%= usuario.creator.nome%></td>
      <td class="text-center p-3"><%= usuario.creator.iduff%></td>
      <td class="text-center p-3"><span class="h6 text-bold py-2"><%= usuario.data_desativacao%><span><%= button_to usuario_nome_botao(usuario.data_desativacao), usuarios_toogleusuario_path,
      params:{id:usuario.id}, class:"btn #{ usuario.data_desativacao.nil? ? "bg-danger" : "bg-success"} text-light" %></td>
      <td class="text-center p-2"><%= image_tag "icon_usuario", width: 24, heigth: 24 %><br><span class="my-2"><%= usuario.admin ? "Administrador" : "Usuario" %></span></td>
      <td class="text-center p-3"><%= link_to 'Mostrar', usuario, class:"btn btn-primary text-white" %></td>
      <td class="text-center p-3"><%= link_to 'Editar', edit_usuario_path(usuario), class:"btn btn-warning text-white" %></td>
      <td class="text-center p-3"><%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-white" %></td>
    <tr>
  <% end %>
  </tbody>
</table>

  </section>

</main>
