<p id="notice"><%= notice %></p>
<main class="d-flex sidebar justify-content-between">
  <%= render "partials/sidebar" %>

  <section class="m-3 w-75 container">
    <div class="w-100 col d-flex align-items-center jus"> 
      <div class="d-flex w-25 flex-wrap justify-content-center align-items-center">
        <%= image_tag "imagem_aluno", heigth: 125, width: 125, class:"mb-3" %>
        <%= link_to 'Editar Dados', edit_usuario_path(@usuario), class: "btn btn-warning text-light m-2"%>
        <%= link_to 'Retornar', usuarios_path, class: "btn btn-info text-light" %>
      </div>
      <div class="mx-5 w-50">
        <h6 class="my-3"><strong>Nome: </strong><%= @usuario.creator.nome%></h6>
        <h6 class="my-3"><strong>iduff: </strong><%= usuario_iduff_mask(@usuario.creator.iduff)%></strong></h6>
        <h6 class="my-3"><strong>Papel: </strong><%= usuario_is_admin(@usuario.admin)%></strong></h6>
        <h6 class="my-3"><strong>Ativo: </strong><%= usuario_verificar_data_desativacao(@usuario.data_desativacao)%> <%= @usuario.data_desativacao%></strong></h6>  
      </div>
      
      
    </div>
    <div class="w-100 row p-3 my-4">
      <h5>Caronas de <%= @usuario.creator.nome %></h5>
      <% if @usuario.caronas.size > 0%>
        <ul class="list-group my-4 w-100">
          <% @usuario.caronas.each do |carona|%>
            <li class="list-group-item p-3 d-flex justify-content-between">
              <div>
                <p class="h5"><strong>Destino: </strong><%= carona.destino%></p>
                <p class="h5"><strong>Partida: </strong><%= carona.partida%></p>
                <p class="h5"><strong>Paradas:  </strong>
                  <% if carona.paradas.size > 0%>
                      <% carona.paradas.each do |parada|%>
                        <%=" "+parada.paradas+" "%>
                      <% end %>
                  <% else %>
                    <%= "Sem paradas"%>
                <%end%>
                <p class="h5"><strong>Passageiros: </strong><%= carona.passageiros%></p>
                <p class="h5"><strong>Valor: </strong><%= carona.valor%></p>
                <p class="h5"><strong>Data: </strong><%= carona.quando.strftime('%d/%m/%Y - %H:%M')%></p>

              </div>
              <div>
              <%= link_to "Ver Carona", "/caronas/#{carona.id}", class:"btn btn-primary text-light"%>
              </div>
            </li>
            
          <%end%>
        </ul>
        <% else %>
        <p class="h6">Usuario não possui corridas no momento</p>
      <% end %>
    </div>

  </section>
</main>




