<main class="d-flex sidebar justify-content-between">
    <%= render "partials/sidebar" %>
    <section class="w-75">
       <h2>Olá <%= nome_usuario_admin %></h2> 
        <h2 class="p-2">Suas ultimas corridas </h2>
       <div class="d-flex justify-content flex-wrap w-100" style="width: 18rem;">
        <% @caronas_usuario.first(3).each do |carona|%>
            <div class="card w-25 m-3">
                <div class="card-body">
                    <h5 class="card-title"><strong>ID Carona:</strong> <%= carona.id%></h5>
                    <h6 class="card-subtitle mb-2 text-muted py-1"><strong>Destino:</strong> <%= carona.destino %></h6>
                    <h6 class="card-subtitle mb-2 text-muted py-1"><strong>Partida:</strong> <%= carona.partida%> </h6>
                    <h6 class="card-subtitle mb-2 text-muted py-1"><strong>Quando:</strong> <%= carona.quando.day %>/<%= carona.quando.month %>/<%= carona.quando.year %> - <%= carona.quando.hour %>:<%= carona.quando.min %></h6>
                    <%= link_to "Veja a carona", carona_path(carona.id), class:"btn btn-primary text-white" %>
                </div>
            </div>
        <% end %>
        </div>
    </section> 
 
</main>

