
.list-group-item{
    background-color: rgb(241, 241, 241);
    padding: 2rem;
    margin: 0px;
}

.col.container-fluid.bg-danger{
    background-color: aqua;
}
.sidebar-dashboard{
    background-color: rgb(230, 230, 230);
    width: 255px;

}

.nav-item.dashborad-item{
    text-align: center;
    width: 250px;
    border-bottom: 2px solid rgb(0, 47, 255);
}
.nav-item.py-3:hover {
    background-color: rgb(228, 228, 255);
}


