// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.h1.nav-link.text-uppercase{
    font-size: 1rem;
    font-family: 'Noto Sans Nandinagari', sans-serif;
    color: black;
}

.h1.nav-link.text-uppercase:hover{
    color:blue;
    background-color: transparent;
}

.banner{
    width: 70%;
    height: 500px;
    background-image: url('banner-image.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}

section.campus{
    margin-right: 15px;
}


.hover-shadow:hover {
    border: 2px solid rgb(73, 73, 255);
}


.test{
    border: 2px solid green;
}
.sobrenos-texto{
    line-height: 2;
    text-align: justify;
}