<nav class="navbar navbar-light bg-primary p-3 sticky-top text-light">
  <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between align-items-center">
      <a class="navbar-brand text-light bg-primary" href="#">Area do <%= usuario_is_admin? ? "Administrador" : "Usuário"%></a>
  </div>
  <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <div class="mx-3 mt-1"><%= image_tag("profile.png", height: '32', width: '32')%></div>
      <div class="mx-3 mt-1"><%= nome_usuario_admin %></div>
      <%= link_to "Sair",keycloak_logout_path, class:"btn btn-primary bg-danger text-light" %>
  </div>
</nav>