
<footer class="page-footer fixed-bottom font-small blue">
    <p class="">O serviço de caronas foi desenvolvido por STI (Superitendecia de Tecnologia da UFF) foi criado para atender as necessidades de locomoção de alunos entre os campos da univerdade, além de ser uma forma de diminuir emissões de gases de efeito estufa.
    </p>
</footer>