<!DOCTYPE html>
<html>
  <head>
    <title>AppSti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <% if logged_in? %>
      <%= render 'layouts/cabecalho' %>
    <% end %>
    
    <%= yield %>
  </body>

</html>

